<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <% if (typeof session.user != 'undefined') { %>
                <a class="navbar-brand" href="/me">Brick IT</a>
            <% } else { %>
                <a class="navbar-brand" href="/">Brick IT</a>
            <% }%>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if (typeof session.admin != 'undefined') { %>
                    <li data-item="users"><a href="/user">Users</a></li>
                    <li data-item="bricks"><a href="/brick">Bricks</a></li>
                <% } %>
                <% if (typeof session.user != 'undefined') { %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <%= session.user.nickName %>
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user/<%= session.user.nickName %>/bricks">My Bricks</a></li>
                            <li><a href="/user/<%= session.user.nickName %>/apps">My Apps</a></li>
                            <li><a href="/user/<%= session.user.nickName %>/requests">My Requests</a></li>
                            <li class="divider"></li>
                            <li><a href="/signout">Sign Out</a></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        <% if(typeof navItem != 'undefined') {%>
        var nav_item = '<%= navItem %>';
        $('.navbar-right li').each(function () {
            if ($(this).data('item') == nav_item) {
                $(this).addClass('active');
            }
        });
        <% } %>
    });
</script>