<ul class="list-group" style="margin-bottom: 0px">
    <a href="#" class="list-group-item active">
        {{domain}}
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 text-right">
                <span class="label label-default">Name</span>
            </div>
            <div class="col-md-10">
                {{name}}
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 text-right">
                <span class="label label-default">Domain</span>
            </div>
            <div class="col-md-10">
                {{domain}}
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 text-right">
                <span class="label label-default">Key</span>
            </div>
            <div class="col-md-10">
                {{key}}
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 text-right">
                <span class="label label-default">Owner</span>
            </div>
            <div class="col-md-10">
                {{owner}}
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 text-right">
                <span class="label label-default">Created At</span>
            </div>
            <div class="col-md-10">
                {{createdAt}}
            </div>
        </div>
    </a>
</ul>