<div class="page-header">
    <small>App</small>
    <span>{{app}}</span>
</div>
<div class="page-header">
    <small>Title</small>
    <span>{{title}}</span>
</div>
<div class="page-header">
    <small>Created By</small>
    <span>{{createdBy}}</span>
</div>
<div class="page-header">
    <small>Created At</small>
    <span>{{createdAt}}</span>
</div>
<div class="page-header">
    <small>Content</small>
    <span>{{content}}</span>
</div>
<div>

    <div class="upload-box">
        <a href="javascript:;" class="thumbnail">
            <img data-src="holder.js/200x200" alt="100%x100%">
        </a>
    </div>
</div>