<ul class="list-group">
    <a href="#" class="list-group-item active">
        {{title}}
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-3 text-right">
                <span class="label label-default">App</span>
            </div>
            <div class="col-md-9">
                {{app}}
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <span class="label">Created By</span>
        {{createdByNickName}}
    </a>
    <a href="#" class="list-group-item">
        <span class="label">Created At</span>
        {{createdAt}}
    </a>
    <a href="#" class="list-group-item">
        <span class="label">Content</span>
        {{content}}
    </a>
    <li class="list-group-item">
        {{#each screenShots}}
            <div class="upload-box">
                <a href="javascript:;" class="thumbnail">
                    <img src="http://brickit.qiniudn.com/{{this}}" style="height:auto;">
                </a>
            </div>
        {{/each}}
    </li>
</ul>